// Barlow
@font-face {
  font-family: 'BarlowSemiBold';
  font-style: normal;
  font-weight: 600;
  src: url(../../assets/fonts/barlow/Barlow-SemiBold.ttf);
}

// Fraunces
@font-face {
  font-family: 'FrauncesBold';
  font-style: normal;
  font-weight: bold;
  src: url(../../assets/fonts/fraunces/Fraunces_9pt-Bold.ttf);
}

@font-face {
  font-family: 'FrauncesBlack';
  font-style: normal;
  src: url(../../assets/fonts/fraunces/Fraunces_9pt-Black.ttf);
}
