@font-face {
  font-family: "BarlowSemiBold";
  font-style: normal;
  font-weight: 600;
  src: url(../../assets/fonts/barlow/Barlow-SemiBold.ttf);
}
@font-face {
  font-family: "FrauncesBold";
  font-style: normal;
  font-weight: bold;
  src: url(../../assets/fonts/fraunces/Fraunces_9pt-Bold.ttf);
}
@font-face {
  font-family: "FrauncesBlack";
  font-style: normal;
  src: url(../../assets/fonts/fraunces/Fraunces_9pt-Black.ttf);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.8rem;
  font-family: FrauncesBold, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.wrapper {
  padding: 0 10px;
}
@media screen and (min-width: 720px) {
  .wrapper {
    padding: 0 15px;
  }
}
@media screen and (min-width: 1025px) {
  .wrapper {
    padding: 0 35px;
  }
}

.header {
  background-color: #3ebfff;
  color: white;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0 15px;
}
.header__content .hamburger-button {
  cursor: pointer;
  width: 25px;
}
@media screen and (min-width: 720px) {
  .header__content .hamburger-button {
    display: none;
  }
}
.header__content .navigation {
  display: none;
  position: absolute;
  width: 80%;
  background-color: white;
  margin: auto;
  top: 80px;
  left: 0;
  right: 0;
}
@media screen and (min-width: 720px) {
  .header__content .navigation {
    display: block;
    position: static;
    width: auto;
    margin: initial;
    background-color: transparent;
  }
}
.header__content .navigation.active {
  display: block;
}
.header__content .navigation .main-menu {
  margin: 0;
  padding-left: 0;
}
@media screen and (min-width: 720px) {
  .header__content .navigation .main-menu {
    display: flex;
  }
}
.header__content .navigation .main-menu__item {
  list-style: none;
  margin: 30px 0;
  text-align: center;
}
@media screen and (min-width: 720px) {
  .header__content .navigation .main-menu__item:last-child {
    margin: 0;
  }
}
@media screen and (min-width: 720px) {
  .header__content .navigation .main-menu__item {
    margin: 0;
    margin-right: 30px;
    text-align: initial;
  }
}
.header__content .navigation .main-menu__item:last-child .main-menu__link {
  padding: 13px 25px;
  background-color: #fad400;
  border-radius: 25px;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #23303e;
  transition: background-color, color 300ms;
}
@media screen and (min-width: 720px) {
  .header__content .navigation .main-menu__item:last-child .main-menu__link {
    background-color: white;
  }
  .header__content .navigation .main-menu__item:last-child .main-menu__link:hover {
    background-color: #6eceff;
    color: white;
  }
}
.header__content .navigation .main-menu__link {
  color: #818498;
  text-decoration: none;
}
@media screen and (min-width: 720px) {
  .header__content .navigation .main-menu__link {
    color: white;
  }
}

.hero-image {
  width: 100%;
  height: 90vh;
  background: url(../../assets/images/mobile/image-header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-image__title {
  margin: 0;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  padding: 75px 0;
}
.hero-image__arrow {
  margin: auto;
}
@media screen and (min-width: 720px) {
  .hero-image {
    background: url(../../assets/images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero-image__title {
    font-size: 4.8rem;
    letter-spacing: 4px;
  }
  .hero-image__arrow {
    margin: 50px auto 0;
  }
}

@media screen and (min-width: 720px) {
  .services__layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .services__layout .egg-image {
    grid-column: 2/-1;
  }
  .services__layout .service-one {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}
.services .service-one,
.services .service-two {
  padding: 25px 20px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #fffbf8;
  color: #23303e;
}
@media screen and (min-width: 920px) {
  .services .service-one,
.services .service-two {
    padding: 85px;
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}
.services .service-one__title,
.services .service-two__title {
  font-family: FrauncesBlack, Helvetica, sans-serif;
  font-size: 2.8rem;
  font-weight: bold;
}
@media screen and (min-width: 920px) {
  .services .service-one__title,
.services .service-two__title {
    font-size: 3.2rem;
  }
}
.services .service-one__description,
.services .service-two__description {
  color: #5a636c;
  font-size: 1.55rem;
  line-height: 25px;
}
@media screen and (min-width: 920px) {
  .services .service-one__description,
.services .service-two__description {
    font-size: 1.8rem;
  }
}
.services .service-one__link,
.services .service-two__link {
  padding-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #23303e;
  font-size: 1.5rem;
}
@media screen and (min-width: 920px) {
  .services .service-one__link,
.services .service-two__link {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 720px) {
  .services .service-one .egg-image,
.services .service-two .egg-image {
    grid-column: 2/-1;
  }
  .services .service-one .service-one,
.services .service-two .service-one {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}
.services .service-three,
.services .service-four {
  position: relative;
}
.services .service-three .service-content,
.services .service-four .service-content {
  position: absolute;
  padding: 20px;
  background-color: transparent;
  text-align: center;
  bottom: 20px;
}
.services .service-three .service-content__title,
.services .service-four .service-content__title {
  margin: 10px;
  font-family: FrauncesBlack, Helvetica, sans-serif;
  font-size: 2.8rem;
  font-weight: bold;
}
.services .service-three {
  color: #25564b;
}
.services .service-four {
  color: #19536b;
}

.testimonials {
  margin-bottom: 80px;
  padding: 20px 0;
  text-align: center;
  background-color: #fffbf8;
}
.testimonials__title {
  margin: 45px;
  color: #a6a9ab;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.6rem;
}
.testimonials__layout {
  display: flex;
  row-gap: 50px;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 720px) {
  .testimonials__layout {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.testimonials .testimonial__avatar {
  margin: 30px auto;
  width: 70px;
  border-radius: 50%;
}
.testimonials .testimonial__description {
  padding: 0 20px;
  margin-bottom: 50px;
  color: #7b7b7f;
  font-size: 1.55rem;
  line-height: 28px;
}
.testimonials .testimonial .personal-info__name {
  display: block;
  margin-bottom: 10px;
  color: #2c3240;
}
.testimonials .testimonial .personal-info__job {
  font-size: 1.4rem;
  color: #bfbebc;
}

/*# sourceMappingURL=main.css.map */
